# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

# Python tools
.venv
.python_packages

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
